<ul class="main-navigation">
  <li><a data-event-label="About-it" data-event-category="Menu" href="/about/">about</a></li>
  <li><a data-event-label="Archive-It" data-event-category="Menu"href="/archive">archives</a></li>
  <li><a data-event-label="Tags-It" data-event-category="Menu" href="/tags">tags</a></li>
  <li><a data-event-label="Contact-It" data-event-category="Menu" href="https://github.com/imperugo/feedback/issues/new">contact</a></li>
</ul>

{% if site.description %}
<section class="aboutme">
  <p>
    {{ site.description }}
  </p>
</section>
{% endif %}
